body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2015/11/26/22/28/girl-1064664_960_720.jpg");
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    justify-content: center;
    align-items: center;
}
.header{
    background-color: url("https://cdn.pixabay.com/photo/2015/11/26/22/28/girl-1064664_960_720.jpg");
    background-size: cover;
     background-position: center -200px;
    height: 50vh;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color:rgb(29, 185, 29);
    box-shadow:2px 2px  12px rgb(0,0,0,0.2);
    width: 100%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: cursive;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.box-content {
    display: grid;
    grid-gap: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    
}
h3{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.serve {
    grid-column: 1 / 3;
    text-align: center;
}
.serve-one {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEWZut2z8Fb+AAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC');
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.serve-two {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEWZut2z8Fb+AAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC');
    background-size: cover;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}
.br5 {
    border-radius: 5px;
}
.box {
    height: 60vh;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.box-left {
    background: url('https://cdn.pixabay.com/photo/2016/11/08/06/45/restaurant-1807617_960_720.jpg');
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.btn {
    width: 200px;
    padding: 15px;
    background:green;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border:none;
    color: #fff;
}
.btn-raduis-left {
    border-radius: 40px;
}
.btn-raduis-right {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.show {
    width:70%;
    background: rgba(0,0,0,0.4);
    color:#fff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
iframe {
    width: 100%;
    height: 50vh;
}
footer {
    background: rgb(87, 75, 129);
    text-align: center;
    color: #fff;
    padding: 50px;
}
.icon{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
li a{
    color: white;
}
fa-youtube-play {
    background:red;
}
