body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
 .images img{
     width: 100%;
 }
 /* .img{
     height: 100px;
 } */
 .img{
     width: 100%;
     /* border-radius: 50%; */
 }
 .text-one {
     position: absolute;
     top: 60%;
     left: 45%;
     transform: translate(-40%, -40%);
     font-size: 350%;
     text-transform: uppercase;
  
    color: #000;
     /* background-color:rgb(228, 243, 193); */
}
 .text-one:hover{
     color:yellow;
 }
 .text-two{
     position: absolute;
     top: 75%;
     left: 45%;
     transform: translate(-40%, -40%);
     font-size: 300%;
     text-transform: uppercase;
 }
 .text-two:hover{
     color:yellow;
 }
 .text-three{
    position: absolute;
    top: 89%;
    left: 45%;
    transform: translate(-40%, -40%);
    font-size: 250%;
    text-transform: uppercase;
 }
 .text-four {
    position: absolute;
    top: 165%;
    left: 45%;
    transform: translate(-40%, -40%);
    font-size: 200%;
    text-transform: uppercase;
    color: #fff;

 
   color: #000;
    /* background-color:rgb(228, 243, 193); */
}
 .text-three:hover{
     color:yellow;
 }
 .text-one,
 .text-two,
 .text-three {
    padding: 6px;
 }
 /* .customization_text {
     padding: 30px;
     border-radius: 50%;
     display:block;
     width:50px;
     height:50px;
     background-image: url("image/7.jpeg");
 } */
 nav{
    background-color:rgb(61, 54, 80);
 }
 ul{
     display: flex;
     list-style: none;
     margin: 0;
     justify-content: flex-end;
     margin-right: 80px;
     }
 ul li{
     padding: 20px;
 }
 ul li a{
     text-decoration: none;
     /* color:rgb(242, 250, 245); */
     text-transform: uppercase;
     font-size: 27px;
 }
 ul li a:hover{
     text-decoration: underline;
     color:yellow;
     cursor: pointer;
 }
 footer {
     background:rgb(54, 35, 56);
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }
 /* .icons{
     padding: 10px;
     justify-content: space-evenly;
     margin-top: auto;
 } */
 
 /* cv */
 .cricle{
    position: absolute;
    left: 56%;
    top: 134%;
    transform: translate(-50%, -50%);
} 
 .cricle img{
    width: 65%;
    border-radius: 50%;
 }
 .cover{
     height: 80vh;
 }
 ul{
     display: flex;
     list-style: none;
     margin: 0;
     justify-content: flex-end;
     margin-right: 80px;
     }
 ul li{
     padding: 20px;
     }
 ul li a{
     text-decoration: none;
     color:white;
     text-transform: uppercase;
     font-size: 27px;
 }
 ul li a:hover{
     text-decoration: underline;
     color: yellow;
     cursor: pointer;
 }
  /* .cv button{
         width: 20%;
         padding: 12px;
         border:none;
         background:rgba(148, 155, 148, 0.9);
         color:#fff;
         font-size: 15px;
         text-transform: uppercase;
         border-radius: 30px;
         outline: none;
         cursor: pointer;
        justify-content: center;
        align-items: center;
         margin-top:-700%;
 }  */
 button a{
     justify-content: center;
     align-items: center;
     padding: 20px;
     height: 15px;
     width: 60px;
     color: white;
     text-align: center;
 }
 button{
     padding: 20px;
     height: 15px;
     width: 25%;
     background: rgb(81, 70, 236);
     border-radius: 40px;
 }
.button:hover{
     background-color: yellow;
}
.cv{
     text-align: center;
     background-color: rgb(231, 227, 235);
     width: 100%;
     height: 100%;
     padding: 70px;
}
.text img{
     width: 50%;
     height: 70%;
 }
 h6{
     font-size: 20px;
    text-decoration: underline;
    text-align: center;
 }
 
 /* contant */
  /* .img{
     /* background-image: url("image/11.jpg"); */
     /*height: 100vh;
     background-size: cover;
     background-position: center 40%;
 }*/
ul{
     display: flex;
     list-style: none;
     margin: 0;
     justify-content: flex-end;
     margin-right: 80px;
     }
ul li{
     padding: 20px;
     }
ul li a{
     text-decoration: none;
     color:white;
     text-transform: uppercase;
     font-size: 27px;
 }
ul li a:hover{
     text-decoration: underline;
     color: yellow;
     cursor: pointer;
 }
.box {
     height: 70vh;
     margin-bottom: 70px;
     display: grid;
     grid-template-columns: repeat(2, 50%);
}
.box-left {
     background-size: cover;
     text-align: center;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
}
.btn {
     width: 200px;
     padding: 15px;
     background:rgb(116, 230, 116);
     text-transform: uppercase;
     font-size: 14px;
     outline: none;
     cursor: pointer;
     border:none;
     color: #fff;
     justify-content: flex-start;
     align-items: center;
 }
 .btn-raduis-right {
     border-top-right-radius: 40px;
     border-bottom-right-radius: 40px;
 }
 .box-content {
     display: grid;
     grid-gap: 20px;
     width: 90%;
     margin: auto;
     margin-top: 20px;
 }
 .serve {
     grid-column: 1 / 3;
     text-align: center;
 }
 .serve-one {
     background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEWZut2z8Fb+AAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC');
     background-size: cover;
     height: 50vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .serve-two {
     background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEWZut2z8Fb+AAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC');
     background-size: cover;
     display: flex;
     justify-content:center;
     align-items: center;
     flex-direction: column;
     height: 50vh;
 }
 .br5 {
     border-radius: 5px;
 }
 .box {
     height: 60vh;
     margin-top: 20px;
     display: grid;
     grid-template-columns: repeat(2, 50%);
 }
 .box-left {
     background-size: cover;
     text-align: center;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
 }
 .btn:hover{
     background-color:teal;
 }
 .btn-raduis-left {
     border-radius: 36px;
 }
 .btn-raduis-right {
     border-top-right-radius: 36px;
     border-bottom-right-radius: 36px;
 }
 .show {
     width:70%;
     background: rgba(0,0,0,0.4);
     color:#fff;
     margin-top: 20px;
     padding: 10px;
     border-radius: 5px;
 }
 h1{
     text-transform: uppercase;
     color:black;
     font-size: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: -200px;
 }
 h1:hover{
     color:yellow;
 }
 h3{
     font-size: 30px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     color:red;
     text-transform: uppercase;
     margin-bottom: -10px;
 }
 iframe {
     width: 97%;
     height: 60vh;
 }
 footer {
     background:rgb(54, 35, 56);
     /* text-align: center; */
     color: #fff;
     padding: 30px;
     margin-bottom: -50px;
 }
 .icons {
     /* text-align: right; */
     display: flex;
     flex-wrap: wrap;
 }
 .icons a{
     padding: 10px;
     text-align: center;
 }
 p {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     color: rgb(243, 235, 235);
 }
.sidebar {
     height: 30%;
     width: 50px;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     padding-top: 16px;
    justify-content: flex-start;
    align-items: center;
}
.sidebar a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 20px;
     color: #818181;
     display: block;
}
.sidebar a:hover {
     color: yellow;
} 
.main {
     margin-left: 160px;
     padding: 0px 10px;
}
 * {
     box-sizing: border-box;
 }
 input[type=text], select, textarea {
     width: 90%;
     padding: 17px;
     border: 1px solid #ccc;
     border-radius: 4px;
     resize: vertical;
 } 
 label {
     padding: 12px 12px 12px 0;
     display: inline-block;
 }
 input[type=submit] {
     background-color: #967dee;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     float: right;
     width: 90%;
 } 
 input[type=submit]:hover {
     background-color: #525261;
     
 }
 .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
 }
 .col-25 {
     float: left;
     width: 25%;
     margin-top: 6px;
 }
 .col-75 {
     float: left;
     width: 75%;
     margin-top: 6px;
 }
 .row:after {
     content: "";
     display: table;
     clear: both;
 }
 
 /* about */
 
 .cover{
     height: 80vh;
 }
ul{
     display: flex;
     list-style: none;
     margin: 0;
     justify-content: flex-end;
     margin-right: 80px;
     }
ul li{
     padding: 20px;
     }
ul li a{
    text-decoration: none;
    color:#fff
    text-transform: uppercase;
    font-size: 27px;
}
ul li a:hover{
     text-decoration: underline;
     color: yellow;
     cursor: pointer;
}
/* .box {
     height: 70vh;
     margin-bottom: 70px;
     display: grid;
     grid-template-columns: repeat(2, 50%);
} */
.box-left {
     background-size: cover;
     text-align: center;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
}
.btn {
     width: 200px;
     padding: 15px;
     background:rgb(132, 166, 230);
     text-transform: uppercase;
     font-size: 14px;
     outline: none;
     cursor: pointer;
     border:none;
     color: #fff;
}
.btn-raduis-right {
     border-top-right-radius: 40px;
     border-bottom-right-radius: 40px;
}
.box-content {
     display: grid;
     grid-gap: 20px;
     width: 90%;
     margin: auto;
     margin-top: 20px;
     
}
/* .serve {
     grid-column: 1 / 3;
     text-align: center;
} */
.serve-one {
     background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEWZut2z8Fb+AAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC');
     background-size: cover;
     height: 50vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.serve-two {
     background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKgAAAEsCAMAAABgwwj8AAAAA1BMVEWZut2z8Fb+AAAASElEQVR4nO3BMQEAAADCoPVPbQwfoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD+BsYMAAFjd3WkAAAAAElFTkSuQmCC');
     background-size: cover;
     display: flex;
     justify-content:center;
     align-items: center;
     flex-direction: column;
     height: 50vh;
}
 /* .br5 {
     border-radius: 5px;
 } */
.box {
     height: 60vh;
     margin-top: 20px;
     display: grid;
     grid-template-columns: repeat(2, 50%);
}
.box-left {
     background-size: cover;
     text-align: center;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-direction: column;
 }
 h4{
     text-align: center;
 }
 .btn:hover{
     background-color:teal;
 }
 .btn-raduis-left {
     border-radius: 36px;
 }
 .btn-raduis-right {
     border-top-right-radius: 36px;
     border-bottom-right-radius: 36px;
}
.show {
     width:70%;
     background: rgba(0,0,0,0.4);
     color:#fff;
     margin-top: 20px;
     padding: 10px;
     border-radius: 5px;
 }
 h3{
     font-size: 30px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     text-align: center;
     color:red;
     text-transform: uppercase;
     margin-bottom: -10px;
 }
 iframe {
     width: 97%;
     height: 60vh;
 }
footer {
     background:rgb(54, 35, 56);
     text-align: center;
     color: #fff;
     padding: 10px;
     margin-bottom: -50px;
 }
.icons {
     padding: 10px;
     justify-content:center;
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     
 }
 p {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     color: rgb(243, 235, 235);
 }
.sidebar {
     height: 30%;
     width: 50px;
     /* position: fixed; */
     /* z-index: 1; */
     top: 0;
     left: 0;
     background-color: rgb(97, 211, 116);
    justify-content:center;
    align-items: center;
}
   
.sidebar a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 20px;
     color: #fff;
     display: block;
}
.sidebar a:hover {
     color:black;
}
.main {
     margin-left: 160px;
     padding: 0px 10px;
 }
.serve-three {
    background: url("https://www.xda-developers.com/files/2018/07/sale_10872_primary_image_wide.jpg");
     background-size: cover;
     justify-content:start;
     align-items: center;
     flex-direction: column;
     height: 40vh;
 }
.serve-four {
    background: url("https://images.pond5.com/operating-system-animated-word-cloud-footage-073979899_prevstill.jpeg");
     background-size: cover;
     justify-content: start;
     align-items: center;
     flex-direction: column;
 }
 h5{
     font-size: 15px;
 }
 @media(max-width: 600px) {
    .serve,
    .serve-one,
    .serve-two,
    .serve-three,
    .serve-four,
    .box-left,
    .box-right {
        grid-column: 1/3;
    }
 }
@media screen and (max-width: 600px) {
        .nav {
          float: none;
        }
        ul li a {
          top: 0;
          left: 0;
          transform: none;
        }
    }
   